@media screen and (max-width: 870px){
	.card {flex-wrap: wrap;width: 100%;padding: 5px;}
	.card .teks {text-align: justify;width: 100%;}

	.card .teks h1 {margin: 20px auto;}
	.card .teks p {text-indent: 50px;}

	.card .img {width: 100%;}

}

@media screen and (max-width: 670px){
	.card {flex-wrap: wrap;width: 100%;padding: 5px;}
	.card .teks {text-align: justify;width: 100%;}

	.card .teks h1 {margin: 20px auto;}
	.card .teks p {text-indent: 50px;}

	.card .img {width: 100%;}

}