*{
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
	overflow-y: none;
	background-color: #333;
}

.main {
	width: 100%;
	margin:50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	display: flex;
	width: 80%;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.card .teks {
	width: 50%;
	margin:5% 50px;
	color: white;
}

.card .img {
	width: 30%;
	height: 395px;
}

.bagian2 {
	flex-flow: row-reverse;
	text-align: right;
}
/*gambar*/

.bagian1 .img{
	background-image: url("../style/img/gunungBatur.jpeg");
}